<h2>Sign up</h2>

<div class="col-xs-6 col-sm-8">
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div><%= f.label :username %><br/>
    <%= f.text_field :username, :autofocus => true, class: "form-control" %></div>

    <div><%= f.label :name %><br/>
    <%= f.text_field :name, class: "form-control" %></div>

    <div><%= f.label :email %><br />
    <%= f.email_field :email, :autofocus => true, class: "form-control" %></div>

    <div><%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off", class: "form-control" %></div>

    <div><%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %></div>

    <div><%= f.submit "Sign up", class: 'btn btn-default' %></div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>