<%= error_messages_for(@template) %>

<table summary="Template Form fields">
	<tr>
		<th>Name</th>
		<td><span class="ui-icon ui-icon-help" title="Template name to distinguish itself"></span></td>
		<td><%= f.text_field(:name) %></td>
	</tr>
	<tr>
		<th>Location</th>
		<td><span class="ui-icon ui-icon-help" title="template_location - Enter the name of the folder used to store the phishing template"></span></td>
		<td><%= f.text_field(:location) %></td>
	</tr>
	<tr>
		<th>Description</th>
		<td><span class="ui-icon ui-icon-help" title="Describe the details of the phishing campaign"></span></td>
		<td><%= f.text_area(:description, :size => "35x2") %></td>
	</tr>
	<tr>
		<th>Notes</th>
		<td><span class="ui-icon ui-icon-help" title="Enter any notes or details pertaining to the phishing template"></span></td>
		<td><%= f.text_area(:notes, :size => "35x2") %></td>
	</tr>
</table>
