<% @page_title = "Update Template" %>

<%= link_to("<< Back to List", {:action => 'list'}, :class => 'back-link') %>

<div class="template update">
	<h2>Update Phishing Template</h2>
	
	<%= form_for(:template, :url => {:action => 'update', :id => @template.id}) do |f| %>
		<%= render(:partial => "form", :locals => {:f => f}) %>
		
		<div class="form-buttons">
			<%= submit_tag("Update Template") %>
		</div>
	<% end %>

	<h2>Phishing Website Files</h2>

	<div class="buttons">
		<%= link_to("New File", {:controller => 'templates', :action => 'new_www_file', :id => @template.id}, :class => 'action') %> 
	</div>

	<ul>
		<% @template_files.each do |file| %>
			<li><%= link_to(file, {:action => 'edit_www', :filename => File.basename(file), :id => @template.id}) %></li>
		<% end %>
	</ul>
</div>