<%= link_to("<< Back to Template", {:action => 'edit', :id => @template.id}, :class => 'back-link') %>
<h2><%= @template.name %></h2>
<h3>Edit <%= params[:filename] %></h3>

<%= form_for(:template, :url => {:action => 'update_www_template', :id => params[:id], :filename => params[:filename]}) do |f| %>
	<%= text_area_tag("file_content", @file_content, :size => "110x40") %>
	
	<div class="form-buttons">
		<%= submit_tag("Save") %>
	</div>
<% end %>