<%= link_to("<< Back to Template", {:action => 'edit', :id => @template.id}, :class => 'back-link') %>

<h2><%= @template.name %></h2>

<div class='row'>
	<div class='col-md-12'>
		<%= form_for(:template, :url => {:action => 'update_email_template', :id => params[:id]}) do |f| %>
			<div class="form-buttons">
				<%= submit_tag("Save", class: 'btn btn-primary pull-left') %>
			</div>

			<%= text_area_tag("email_content", @email_content, :rows => 35, class: 'span12') %>
		<% end %>
	</div>
</div>