<%= link_to("<< Back to Template", {:action => 'edit', :id => @template.id}, :class => 'back-link') %>
<h2><%= @template.name %></h2>

<%= form_for(:template, :url => {:action => 'update_email_template', :id => params[:id]}) do |f| %>
	<%= text_area_tag("email_content", @email_content, :size => "110x40") %>
	
	<div class="form-buttons">
		<%= submit_tag("Save") %>
	</div>
<% end %>