<% @page_title = "Phishing Templates" %>

<div class='page-header'>
	<h2>Templates</h2>
</div>

<div class="template list">

	<div id="template-buttons">
		<%= link_to("Create", new_template_path, class: 'btn btn-default') %>
		<%= link_to("Restore", restore_templates_path, class: 'btn btn-default') %>
	</div>

	<table id="templates" class="table table-striped table-hover table-condensed" summary="Templates">
		<thead>
			<tr class="header">
				<th>&nbsp;</th>
				<th>Name</th>
				<th>Description</th>
				<th>Index</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			<% @templates.each do |template| %>
			<tr>
				<td><%= image_tag('template.png', :size => '35x35') %></td>      
				<td><%= template.name %></td>
				<td><%= template.description %></td>
				<td><%= template.index_file %></td>
				<td class="actions">
					<%= link_to("Show", {:action => 'show', :id => template.id}, class:'btn btn-mini') %>
					<%= link_to("Edit", {:action => 'edit', :id => template.id}, class:'btn btn-mini') %>
					<%= link_to("Copy", {:action => 'copy', :id => template.id}, class:'btn btn-mini') %>
					<%= link_to "Delete", template_path(template), method: :delete,confirm: 'Are you sure you want to permanently delete this campaign?', class:'btn btn-mini' %>
					<%= link_to("Backup", {:action => 'backup', :id => template.id}, class:'btn btn-mini') %>
				</td>
			</tr>
			<% end %>
		</tbody>
	</table>

</div>
<hr>