<% @page_title = "New Template" %>

<%= link_to("<< Back to List", {:action => 'list'}, :class => 'back-link') %>

<div class="page-header">
	<h2>New Phishing Template</h2>
</div>

<div class="template show">

	<%= image_tag('template.png', :size => '50x50') %>
	<%= form_for(:template, :url => {:action => 'create'}) do |f| %>

	<%= render(:partial => "form", :locals => {:f => f}) %>
	<%= submit_tag("Create Template", :class => 'btn') %>
	
	<% end %>
</div>