<%= link_to("<< Back to Template", {:action => 'edit', :id => @template.id}, :class => 'back-link') %>
<h2><%= @template.name %></h2>


<%= form_for(:template, :url => {:action => 'create_www_file', :id => params[:id], :filename => params[:filename]}) do |f| %>

New Filename: <%= text_field_tag("filename", @file_content) %>
	
	<div class="form-buttons">
		<%= submit_tag("Create") %>
	</div>
<% end %>