<% @page_title = "Admins" %>
<%= link_to("<< Back to Admin Menu", access_path, :class => 'back-link') %>
<div class="Admin list">
    <h2>Your Registration</h2>
    <%= link_to('Edit registration', edit_admin_registration_path(current_admin)) %>
	<h2>Users</h2>

    <% if params[:approved] == "false" %>
        <%= link_to "All Admins", :action => "list" %>
    <% else %>
        <%= link_to "Admins awaiting approval", :action => "list", :approved => "false" %>
    <% end %>


	<div ><%= pluralize(@admins.size, 'admin') %> found</div>
	<table class="listing" summary="Campiagn list">
		<tr class="header">
			<th>&nbsp;</th>
			<th>Name</th>
			<th>Username</th>
			<th>Actions</th>
		</tr>

		<% @admins.each do |admin| %>
		
		<tr class="<%= cycle('odd', 'even') %>">
			<td><%= image_tag('administrator.png', :size => '35x35') %></td>      
			<td><%= admin.name %></td>
			<td><%= admin.username %></td>
			<td class="actions">
                <% if admin.approved? %>
                  <%= link_to "Revoke", revoke_admin_path(admin), method: :post,  :class => 'action delete' %>
                <% else %>
                  <%= link_to "Approve", approve_admin_path(admin), method: :post, :class => 'action' %>
                <% end %>
			</td>
		</tr>
		<% end %>
	</table>

</div>