<% @page_title = "SMTP Blast Logs" %>

<%= link_to "<< Back to Campaign", @blast.campaign, class: 'back-link' %>

<h3>SMTP Logs</h3>

<table class="table table-hover table-condensed">
  <thead>
    <th>Date</th>
    <th>To</th>
    <th>From</th>
    <th>Status</th>
    <th>Message</th>
  </thead>

  <% @baits.order("created_at DESC").each do |bait| %>
  <tbody>
    <td><%= bait.created_at.to_formatted_s(:db) %></td>
    <td><%= bait.to %></td>
    <td><%= bait.from %></td>
    <td><%= bait.status %></td>
    <td><%= bait.message %></td>
  </tbody>
  <% end %>
</table>
