<div class="panel panel-default">
  <div class="panel-heading" data-toggle="collapse" data-target="#collapseOne">
    <h4 class="panel-title">
      <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
        Campaign Settings
      </a>
    </h4>
  </div>
  <div id="collapseOne" class="panel-collapse collapse">
    <div class="panel-body">
      <table class='table borderless' summary="Campaign Settings">
        <tr>
          <th>Name</th>
          <td><span class="ui-icon ui-icon-help" title="Insert campaign name"></span></td>
          <td>
            <%= f.text_field(:name, 
                    placeholder: 'Phishing Campaign', 
                    class: 'form-control') %>
          </td>
        </tr>
        <tr>
          <th>Description</th>
          <td><span class="ui-icon ui-icon-help" title="Insert campaign details"></span></td>
          <td>
            <%= f.text_field(:description, placeholder: 'Description Info', class: 'form-control') %>
          </td>
        </tr>
        <tr>
          <th>Active</th>
          <td>
            <span class="ui-icon ui-icon-help" title="Making campaign active will enable the phishing website using Apache's virtual host. Ensure a Fully Qualified Domain Name is populated below before going active.">
            </span>
          </td>
          <td><%= f.check_box(:active) %></td>
        </tr>
        <tr>
          <th>Test Target</th>
          <td>
            <span class="ui-icon ui-icon-help" title="This is the only email that will be used when you click 'Test Email'.">
            </span>
          </td>
          <td>
            <%= f.text_field(:test_email, 
                    placeholder: 'email@phishingfrenzy.local',
                    class: 'form-control') %>
          </td>
        </tr>
        <tr>
          <th>
            Targets ( <%= link_to(@campaign.victims.size, victims_campaigns_path(id: @campaign)) %> )
          </th>
          <td>
            <span class="ui-icon ui-icon-help" title="Insert email addresses in a list or csv form">
            </span>
          </td>
          <td>
          <%= f.text_area(:emails, :size => "31x2",
                  placeholder: 'firstname, lastname, email@phishingfrenzy.local',
                  value: '',
                  class: 'form-control') %>
          </td>
        </tr>
        </table>
    </div>
  </div>
</div>