<div class="panel panel-default">
  <div class="panel-heading" data-toggle="collapse" data-target="#collapseFour">
    <h4 class="panel-title">
      <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
        Email Settings
      </a>
    </h4>
  </div>
  <div id="collapseFour" class="panel-collapse collapse">
    <div class="panel-body">
      <table class='table borderless' summary="Campaign Settings">
        <%= fields_for @campaign.email_settings do |es| %>
          <tr>
            <th>Subject:</th>
            <td><span class="ui-icon ui-icon-help" title='Subject used for SMTP and email headers'></span></td>
            <td>
              <%= es.text_field(:subject,
                    placeholder: 'Subject Line',
                    class: 'form-control') %>
            </td>
          </tr>
          <tr>
            <th>From:</th>
            <td><span class="ui-icon ui-icon-help" title='From: used for email headers'></span></td>
            <td>
              <%= es.text_field(:from,
                      placeholder: 'email@phishingfrenzy.local',
                      class: 'form-control') %>
            </td>
          </tr>
          <tr>
            <th>Display From:</th>
            <td>
              <span class="ui-icon ui-icon-help" title='What you want displayed for the from category within the email headers'>
              </span>
            </td>
            <td>
              <%= es.text_field(:display_from,
                      placeholder: 'Phishing Frenzy',
                      class: 'form-control') %>
            </td>
          </tr>
          <tr>
            <th>Phishing URL:</th>
            <td>
              <span class="ui-icon ui-icon-help" title='Phishing URL that you would like the target to click on. This URL is embeded within the email message before sending'>
              </span>
            </td>
            <td>
              <%= es.text_field(:phishing_url,
                      placeholder: 'site.phishingfrenzy.local',
                      class: 'form-control') %>
            </td>
          </tr>
        <% end %>

        <%= fields_for @campaign.campaign_settings do |cs| %>
          <tr>
            <th>FQDN:</th>
            <td>
              <span class="ui-icon ui-icon-help" title='Fully Qualified Domain Name (FQDN) is required to properly configure virtual hosts with Apache. Ensure that you have properly created DNS records to redirect targets to your phishing website.'>
              </span>
            </td>
            <td>
              <%= cs.text_field(:fqdn,
                      placeholder: 'site.phishingfrenzy.local',
                      class: 'form-control') %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>