<%= error_messages_for(@campaign) %>

<div class="panel-group" id="accordion">
  <%= render partial: 'campaigns/campaign_settings', locals: {f: f} %>

  <%= render partial: 'campaigns/template_selection', locals: {f: f} %>

  <%= render partial: 'campaigns/smtp_settings', locals: {f: f} %>

  <%= render partial: 'campaigns/email_settings', locals: {f: f} %>

  <%= render partial: 'campaigns/phishing_options', locals: {f: f} %>
</div>