<%- model_class = Campaign -%>

<% @page_title = "Phishing Campaigns" %>

<div class="page-header">
	<h2>Campaigns</h2>
</div>

<li><%= paginate @campaigns, :theme => 'twitter-bootstrap-3' %></li>

<%= link_to("New Campaign", new_campaign_path) %>

<div class="list campaigns">
	<div ><%= pluralize(Campaign.all.size, 'campaign') %> found</div>
	<table class="table table-striped" summary="Campiagn list">
		<tr class="header">
			<th>&nbsp;</th>
			<th>Client</th>
			<th>Description</th>
			<th>Scope</th>
			<th>Active</th>
			<th>Emails</th>
			<th>Actions</th>
		</tr>

		<% @campaigns.each do |campaign| %>
		
		<tr>
			<td><%= image_tag('fishing_pole.png', :size => '28x28') %></td>      
			<td><%= campaign.name %></td>
			<td><%= campaign.description %></td>
			<td><%= campaign.scope %></td>
			<td><%= campaign.active ? image_tag('green-light.png', :size => '11x11') : image_tag('red-light.png', :size => '11x11') %></td>
			<td>
				<% if Victim.where("campaign_id = ?", campaign.id).size != 0 %>
					<%= image_tag('green-light.png', :size => '11x11') %>
				<% else %>
					<%= image_tag('red-light.png', :size => '11x11') %>
				<% end %>
			</td>
			<td class="actions">
				<%= link_to("Show", campaign_path(campaign.id), :class => 'btn btn-mini') %>
				<%= link_to("Options", {:action => 'options', :id => campaign.id}, :class => 'btn btn-mini') %>
				<%= link_to "Delete", campaign_path(campaign), method: :delete,confirm: 'Are you sure you want to permanently delete this campaign?', class: 'btn btn-mini' %>
			</td>

		</tr>
		<% end %>
	</table>

</div>
