<% @page_title = "Campaign Settings" %>

<script>

	$('#smtpPreFill').change(function() {
	var myValue = $(this).val();
	switch (myValue) {
		case 'google':
			$('#smtp_server').val('smtp.google.com');
			$('#smtp_server_out').val('smtp.google.com');
			$('#smtp_port').val('25');
			break;
		case 'outlook':
			$('#smtp_server').val('smtp.outlook.com');
			$('#smtp_server_out').val('smtp.outlook.com');
			$('#smtp_port').val('25');
			break;
		case 'godaddy':
			$('#smtp_server').val('smtp.secureserver.com');
			$('#smtp_server_out').val('smtp.secureserver.com');
			$('#smtp_port').val('587');
			break;
		}
	});

</script>

<style>
	<div class="accordion"> #accordion </div>
</style>

<%= link_to("<< Back to List", {:action => 'list'}, :class => 'back-link') %>

<h2><%= @campaign.name %></h2>

<div class="campaign settings">  
	<%= form_for(:campaign, :url => {:action => 'update_settings', :id => @campaign.id}) do |f| %>

	<%= render(:partial => "options", :locals => {:f => f}) %>

	<table>
		<tr>
			<td>
				<div class="form-buttons">
					<%= submit_tag("Save Settings", :class => 'action') %>
				</div>
			</td>

			<td>
				<div class="form-buttons">
					<%= link_to("Test Email", {:controller => 'email', :action => 'send_email', :id => @campaign.id}, :class => 'action') %> 
				</div>
			</td>

			<td>
				<div class="form-buttons">
					<%= link_to("Launch Email", {:controller => 'email', :action => 'launch_email', :id => @campaign.id}, :class => 'action', :confirm => 'Are you sure you want to launch the phishing campaign?') %> 
				</div>
			</td>

			<td>
				<div class="form-buttons">
					<%= link_to("Edit Email", {:controller => 'templates', :action => 'edit_email', :id => @campaign.template_id}, :class => 'action') %> 
				</div>
			</td>

			<td>
				<div class="form-buttons">
					<%= link_to("Preview", {:controller => 'templates', :action => 'preview_email', :id => @campaign.id}, :class => 'action') %> 
				</div>
			</td>
		</tr>
	</table>

	<% end %>
</div>
