<% @page_title = "Campaign Details" %>

<h2>Campaign Options - <%= @campaign.name %></h2>

<div class="campaign settings"> 
  <%= nested_form_for(@campaign, :html => {:multipart => true}) do |f| %>
    <%= render partial: "options", locals: {f: f} %>
    <div id="show-campaign-buttons">
      <%= submit_tag("Save Settings", class: 'btn btn-primary') %>
      <%= link_to("Preview", preview_email_path(@campaign.id), class: 'btn btn-default', :method => :post) %>
      <%= link_to("Test", test_email_path(@campaign.id), class: 'btn btn-default', :method => :post) %>
      <%= link_to("Launch", launch_path(@campaign.id), class: 'btn btn-default', :confirm => 'Are you sure you want to launch the phishing campaign?', :method => :post) %>
      <%= link_to("Edit Email", edit_template_path(@campaign.template), class: 'btn btn-default') if @template.present? %>
    </div>
  <% end %>
</div>

<%= render partial: 'blasts', locals: { campaign: @campaign } %>