<% @page_title = "SMTP Logs" %>

<%= link_to("<< Back to Campaign", {:action => 'show', :id => params[:id]}, :class => 'back-link') %>

<h3>SMTP Logs</h3>

<table class="listing" summary="smtp logs">
	<tr class="header">
		<th>Date</th>
		<th>To</th>
		<th>From</th>
		<th>Status</th>
		<th>Message</th>
		<th>Action</th>
	</tr>

	<% @campaign.smtp_communications.order("created_at DESC").each do |smtp_transaction| %>
	
	<tr class="<%= cycle('odd', 'even') %>">
		<td><%= smtp_transaction.created_at.to_formatted_s(:db) %></td>			
		<td><%= smtp_transaction.to %></td>
		<td><%= smtp_transaction.from %></td>
		<td><%= smtp_transaction.status %></td>
		<td><%= smtp_transaction.string %></td>
		<td><%= link_to("Delete", {:action => 'delete_smtp_entry', :id => smtp_transaction.id}, :method => 'POST') %></td>
	</tr>
	
	<% end %>
</table>
