<%= link_to("<< Back to Campaign Options", {:controller => 'campaigns', :action => 'options', :id => params[:id]}, :class => 'back-link') %>
<h3>Victims</h3>
<% counter = 1 %>
<% @victims.each do |victim| %>

	<table>
		<tr class="<%= cycle('odd', 'even') %>">
			<td width="320">
				<p><%= counter %>: <%= victim.email_address %></p>
				<% counter += 1 %>
			</td>
			<td>
				<%= link_to(image_tag('red_x.png', :size => '35x35'), {:controller => 'campaigns', :action => 'delete_victim', :id => victim.id}) %>
			</td>
		</tr>
	</table>
	
<% end %>

<div class="form-buttons">
	<%= button_to("delete all", {:controller => 'campaigns', :action => 'clear_victims', :id => @victims.first.campaign_id}, :class => 'action') %>
</div>