<tr>
  <td><%= password.victim.email_address %></td>
  <td><%= password.credential.username %></td>
  <td><%= password.credential.password %></td>
  <td><%= password.browser.split(' ')[0] %></td>
  <td><%= password.ip_address %></td>
  <td><%= password.updated_at %></td>
</tr>
