<tr>
  <td><%= password.victim.email_address %></td>
  <td><%= password.extra %></td>
  <td><%= password.browser.split(' ')[0] %></td>
  <td><%= password.ip_address %></td>
  <td><%= password.updated_at %></td>
</tr>