<% @page_title = "Reports" %>

<div class="page-header">
  <h2>Reports</h2>  
</div>

<div><%= pluralize(@campaigns.size, 'campaign') %> launched</div>

<table id="launched-campains" class="table table-condensed table-hover">
  <thead>
    <tr>
      <th></th>
      <th>Client</th>
      <th>Emails Sent</th>
      <th>Clicks</th>
      <th>Active</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @campaigns.each do |campaign| %>
    <tr>
      <td><span class="glyphicon glyphicon-stats"></span></td>      
      <td><%= campaign.name %></td>
      <td><%= campaign.sent %></td>
      <td><%= campaign.clicks %></td>
      <td><%= campaign.active ? image_tag('green-light.png', size: '11x11') : 
                image_tag('red-light.png', size: '11x11') %></td>
      <td class="actions">
        <%= link_to("Stats", stats_reports_path(id: campaign.id), 
              class: 'btn btn-primary btn-xs') %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>