<% @page_title = "Log Details" %>

<%= link_to("<< Back to Stats", {:action => 'stats', :id => params[:id]}, :class => 'back-link') %>

<div class='page-header'>
	<h2>Apache Logs: <%= @campaign.name %></h2>
</div>

<%= button_to("Download Logs", {:controller => 'reports', :action => 'download_logs', :id => @campaign.id}, class:'btn') %>

<% counter = 1 %>
<% @apache_data[:logs].each do |log| %>
	<table>
		<tr class="<%= cycle('odd', 'even') %>">
			<td width="800">
				<p><%= simple_format(log) %></p>
				<% counter += 1 %>
			</td>
		</tr>
	</table>
<% end %>