<nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Phishing Frenzy", main_app.root_path, class: "navbar-brand" %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
          <li><%= link_to "Campaigns", main_app.list_campaigns_path %></li>
          <li><%= link_to "Templates", main_app.list_templates_path %></li>
          <li><%= link_to "Reports", main_app.list_reports_path %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Resources<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><%= link_to "<span class='glyphicon glyphicon-road'></span> About".html_safe, main_app.aboutus_campaigns_path %></li>
              <li class="divider"></li>
              <li><%= link_to "<span class='glyphicon glyphicon-envelope'></span> Email Enumeration".html_safe, main_app.tools_emails_path %></li>
              <li><%= link_to "<span class='glyphicon glyphicon-magnet'></span> Website Cloner".html_safe, main_app.clones_path %></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><%= link_to "<span class='glyphicon glyphicon-user'></span> Manage Users".html_safe, main_app.list_admin_index_path %></li>
              <li><%= link_to "<span class='glyphicon glyphicon-cog'></span> Global Settings".html_safe, main_app.global_settings_admin_index_path %>
              </li>
            </ul>
          </li>
          <li><%= link_to "Logout", main_app.destroy_admin_session_path, :method => :delete %></li>
      </ul>

      <%= render(partial: 'layouts/system_status') if @show_status %>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>