<ul class="nav navbar-nav navbar-right">
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">System Status <b class="caret"></b></a>
    <ul class="dropdown-menu">
      <% if @apache %>
          <li><%= link_to("#") do %>
                <span class="label label-success">Apache</span>
            <% end %></li>
      <% else %>
          <li><%= link_to("#") do %>
                <span class="label label-default">Apache</span>
            <% end %></li>
      <% end %>
      <% if @redis %>
          <li><%= link_to("#") do %>
                <span class="label label-success">Redis</span>
            <% end %></li>
      <% else %>
          <li><%= link_to("#") do %>
                <span class="label label-default">Redis</span>
            <% end %></li>
      <% end %>
      <% if @sidekiq %>
          <li><%= link_to(main_app.sidekiq_web_path, target: "_blank") do %>
                <span class="label label-success">Sidekiq</span>
            <% end %></li>
      <% else %>
          <li><%= link_to(main_app.sidekiq_web_path, target: "_blank") do %>
                <span class="label label-default">Sidekiq</span>
            <% end %></li>
      <% end %>
      <% if @beef %>
          <li><%= link_to("#{GlobalSettings.first.site_url}:3000/ui/panel", target: "_blank") do %>
                <span class="label label-success">BeEF</span>
            <% end %></li>
      <% else %>
          <li><%= link_to("#") do %>
                <span class="label label-default">BeeF</span>
            <% end %></li>
      <% end %>

      <% if @msf %>
          <li><%= link_to("#") do %>
                <span class="label label-success">Metasploit</span>
            <% end %></li>
      <% else %>
          <li><%= link_to("#") do %>
                <span class="label label-default">Metasploit</span>
            <% end %></li>
      <% end %>
      <% if @vhosts %>
          <li class="divider"></li>
          <li class="dropdown-header">Virtual Hosts</li>
          <% @vhosts.each do |vh| %>
              <li>
                <a href="#"><%= vh %></a>
              </li>
          <% end %>
      <% end %>
    </ul>
  </li>
</ul>
