<!DOCTYPE html>
<html>
	<head>
		<title>Phishing Frenzy | <%= @page_title || '' %></title>
		<%= stylesheet_link_tag    "application", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<div id="header">
				<h1><%=  image_tag('fish2.png', :size => '42x42') %> Phishing Frenzy <%=  image_tag('fish2.png', :size => '42x42') %></h1>
			</div>
            <% if admin_signed_in? %>
			<div id="navigation">
				<%= link_to("Home", root_path) %> | <%= link_to("Campaigns", campaigns_path) %> | <%= link_to("Templates", templates_path) %> | <%= link_to("Reports", reports_path) %> | <%= link_to("About", aboutus_campaigns_path) %> | <%= link_to("Admin", access_path) %> | <%= link_to('Logout', destroy_admin_session_path, :method => :delete) %>
			</div>
            <% end %>
			<div id="main" style="overflow:auto;">
				<div id="content">
				<% if !flash[:notice].blank? %>
					<div class="notice">
						<%= flash[:notice] %>
					</div>
				<% end %>
				<% if !flash[:alert].blank? %>
					<div class="alert">
						<%= flash[:alert] %>
					</div>
				<% end %>
				<%= yield %>
			</div>
		</div>
		<div id="footer">
			<p>&#169; <a href="http://www.pentestgeek.com">www.pentestgeek.com</p>
		</div>
	</body>
</html>
